.orders-page {
  display: block;
}

.orders-page__title {
  display: inline-block;
}

.orders-page__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-block-start: 16px;
}

.orders-page__empty {
  text-align: center;
  margin-block-start: 20vh;
}
